{"metadata": {"name": "test_pod_1",
                 "namespace": "default",
                 "labels": {"k8s-app": "kube-dns",
                         "pod-template-hash": "5c98db65d4"}},
 "spec": {"affinity": "None",
          "node_name": "control-plane",
          "scheduler_name": "default-scheduler",
          "containers": [{"name": "container_1",
                          "resources": {"limits": {"memory": "170Mi"},
                                        "requests": {"cpu": "100m",
                                                     "memory": "70Mi"}},
                          "usage": {"cpu": "500000n", "memory": "9000Ki"}},
                         {"name": "container_2",
                          "resources": {"limits": {"memory": "170Mi"},
                                        "requests": {"cpu": "100m",
                                                     "memory": "70Mi"}},
                          "usage": {"cpu": "500000n", "memory": "9000Ki"}}],
          "tolerations": [{"effect": "None",
                           "key": "CriticalAddonsOnly",
                           "operator": "Exists",
                           "toleration_seconds": "None",
                           "value": "None"},
                          {"effect": "NoSchedule",
                           "key": "node-role.kubernetes.io/master",
                           "operator": "None",
                           "toleration_seconds": "None",
                           "value": "None"},
                          {"effect": "NoExecute",
                           "key": "node.kubernetes.io/not-ready",
                           "operator": "Exists",
                           "toleration_seconds": 300,
                           "value": "None"},
                          {"effect": "NoExecute",
                           "key": "node.kubernetes.io/unreachable",
                           "operator": "Exists",
                           "toleration_seconds": 300,
                           "value": "None"}]},
 "status": {"phase": "Running"}}
$$$$
 {"metadata": {"name": "test_pod_2",
                  "namespace": "default",
                  "labels": {"k8s-app": "kube-dns",
                          "pod-template-hash": "5c98db65d4"}},
  "spec": {"affinity": "None",
           "node_name": "worker-node",
           "scheduler_name": "default-scheduler",
           "containers": [{"name": "container_1",
                           "resources": {"limits": {"memory": "170Mi"},
                                         "requests": {"cpu": "100m",
                                                      "memory": "70Mi"}},
                           "usage": {"cpu": "500000n", "memory": "9000Ki"}}],
           "tolerations": [{"effect": "None",
                            "key": "CriticalAddonsOnly",
                            "operator": "Exists",
                            "toleration_seconds": "None",
                            "value": "None"},
                           {"effect": "NoSchedule",
                            "key": "node-role.kubernetes.io/master",
                            "operator": "None",
                            "toleration_seconds": "None",
                            "value": "None"},
                           {"effect": "NoExecute",
                            "key": "node.kubernetes.io/not-ready",
                            "operator": "Exists",
                            "toleration_seconds": 300,
                            "value": "None"},
                           {"effect": "NoExecute",
                            "key": "node.kubernetes.io/unreachable",
                            "operator": "Exists",
                            "toleration_seconds": 300,
                            "value": "None"}]},
  "status": {"phase": "Running"}}
$$$$
{"metadata": {"name": "test_pod_3",
                 "namespace": "default",
                 "labels": {"k8s-app": "kube-dns",
                         "pod-template-hash": "5c98db65d4"}},
 "spec": {"affinity": "None",
          "node_name": "worker-node",
          "scheduler_name": "default-scheduler",
          "containers": [{"name": "container_1",
                          "resources": {"limits": {"memory": "170Mi"},
                                        "requests": {"cpu": "100m",
                                                     "memory": "70Mi"}},
                          "usage": {"cpu": "0", "memory": "0"}}],
          "tolerations": [{"effect": "None",
                           "key": "CriticalAddonsOnly",
                           "operator": "Exists",
                           "toleration_seconds": "None",
                           "value": "None"},
                          {"effect": "NoSchedule",
                           "key": "node-role.kubernetes.io/master",
                           "operator": "None",
                           "toleration_seconds": "None",
                           "value": "None"},
                          {"effect": "NoExecute",
                           "key": "node.kubernetes.io/not-ready",
                           "operator": "Exists",
                           "toleration_seconds": 300,
                           "value": "None"},
                          {"effect": "NoExecute",
                           "key": "node.kubernetes.io/unreachable",
                           "operator": "Exists",
                           "toleration_seconds": 300,
                           "value": "None"}]},
 "status": {"phase": "Running"}}
 $$$$
 {"metadata": {"name": "test_pod_4_0_pending_pod",
                  "namespace": "default",
                  "labels": {"pod-template-hash": "341fsda1"}},
  "spec": {"affinity": "None",
           "node_name": "",
           "scheduler_name": "default-scheduler",
           "containers": [{"name": "container_1",
                           "resources": {"limits": {"memory": "170Mi"},
                                         "requests": {"cpu": "100m",
                                                      "memory": "70Mi"}},
                           "usage": {"cpu": "0", "memory": "0"}}],
           "tolerations": [{"effect": "None",
                            "key": "CriticalAddonsOnly",
                            "operator": "Exists",
                            "toleration_seconds": "None",
                            "value": "None"},
                           {"effect": "NoSchedule",
                            "key": "node-role.kubernetes.io/master",
                            "operator": "None",
                            "toleration_seconds": "None",
                            "value": "None"},
                           {"effect": "NoExecute",
                            "key": "node.kubernetes.io/not-ready",
                            "operator": "Exists",
                            "toleration_seconds": 300,
                            "value": "None"},
                           {"effect": "NoExecute",
                            "key": "node.kubernetes.io/unreachable",
                            "operator": "Exists",
                            "toleration_seconds": 300,
                            "value": "None"}]},
  "status": {"phase": "Pending"}}
